body{
    background-color: lightgray;
}

a{
    text-decoration: none;
    color: black;
}

.new{
    color: red;
    text-decoration: none;
    text-transform: uppercase;

}

.new{
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.new {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}


.img {
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 100px; /* Ширина слоя */
}
.name {
    padding: 5px; /* Поля вокруг текста */
    width: 50px; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
}
.link {
    clear: left; /* Отмена обтекания */
}

.table{
    float: left;
    width: 1000px;
    margin-left: 250px;
    margin-top: -240px;
}

.tr{
    background-color: forestgreen;
}
/*.new:hover {*/
/*    background-color: #555;*/
/*}*/

/*.new:active {*/
/*    background-color: black;*/
/*}*/

/*.new:visited {*/
/*    background-color: #ccc;*/
/*}*/