<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>memberPage</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div th:text="${user.name} + ' ' + ${user.surname}">
    <img th:src="@{/image(name=${user.profilePicture})}" width="100" th:if="${user.profilePicture != null && user.profilePicture.length() != 0}"/>
</div><br><br>


<table border="2px" id="myTable">
    <thead>
    <tr>

        <td>Project name</td>
        <td>Date</td>
        <td>Deadline</td>
        <td>Hours</td>
        <td>Action</td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="project: ${projects}">
        <td th:text="${project.name}">User name</td>
        <td th:text="${project.date}">Date</td>
        <td th:text="${project.deadline}">Deadline</td>
        <td th:text="${project.hours}">Hours</td>
        <td> <a th:href="@{/user/leader/projects/delete(id=${project.id})}">delete</a>
        </td>

    </tr>
    </tbody>

</table>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>

</body>
</html>